<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    
    <main>

        <div class="jumbotron">
            <%- include('../partials/chat'); %>
        </div>



        <div class="jumbotron">
            <%- include('../partials/formulario'); %>
        </div>






    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>